<h1>Places</h1>

<div class="p-3">

  <div class="row">
      <div class="mb-3">
        <a type="button" class="btn btn-primary"href="/places/new">New Place</a>
      </div>
        <div class= "col-md-3 col-sm-6 list-group">
    <% for place in @places %>
      <a class="list-group-item list-group-item-action" href="/places/<%= place["id"] %>"><%= place["name"] %></a>
    <% end %>
  </div>
  </div>
</div>   



