<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
      <div class="mb-3">

    <p>
      <%= form.label "name" %>
      <%= form.text_field "name" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>